/*
HTML & Body styles
*/
html, body {
    margin: 0px;
    padding: 0px;
}

/*
Navigation styles
*/

/*
Header styles
*/
.headerSection {
    width: 100%;
    margin: auto;
    padding-top: 400px;
    padding-bottom: 300px;
    text-align: center;
    color: white;
    background: url("images/bannerTransparent.png"), linear-gradient(#660033, #AE0057);
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

/*
Gallery styles
*/
.galleryPic {
    max-height: 500px;
    width: auto;
    height: 100%;
    display: none;
}

/*
Preview styles
*/
.imgDiv {
    overflow: hidden;
    object-fit: cover;
    height: 350px;
    float: left;
}

.selectDiv {
    float: right;
}

.layers {
    background-size: cover;
    position: absolute;
    width: 350px;
    height: 350px;
    max-width: 350px;
    max-height: 350px;
}

#sketch {
    background-image: url("images/portrait/sketch.png");
    z-index: 3;
    display: block;
}

#lineart {
    background-image: url("images/portrait/lineArt.png");
    z-index: 3;
    display: none;
}

#colourFlat {
    background-image: url("images/portrait/colourFlat.png");
    z-index: 2;
    display: block;
}

#colourShade {
    background-image: url("images/portrait/colourShade.png");
    z-index: 2;
    display: none;
}

#complexBG {
    background-image: url("images/portrait/complexBG.png");
    z-index: 1;
    display: none;
}

#simpleBG {
    background-image: url("images/portrait/simpleBG.png");
    position: absolute;
    z-index: 1;
    display: block;
}

#blankBG {
    background-image: url("images/portrait/blankBG.png");
    position: absolute;
    z-index: 0;
}

/*
Contact
*/
#contact {
    clear: both;
}